@font-face {
  font-display: swap;
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url(https://s100.divarcdn.com/statics/2023/07/IRANSansWeb_Medium.d1f537d1.eot);
  src: url(https://s100.divarcdn.com/statics/2023/07/IRANSansWeb_Medium.9f338149.woff2) format("woff2"),url(https://s100.divarcdn.com/statics/2023/07/IRANSansWeb_Medium.2d28b58d.woff) format("woff"),url(https://s100.divarcdn.com/statics/2023/07/IRANSansWeb_Medium.dde1bbb6.ttf) format("truetype")
}

.body{
direction: rtl;
background: linear-gradient(to bottom right, #c2e9fb, #7bc9ff,#6a85f1 );
font-family: iransans, sans-serif;
text-align: center;
}
.div-1{
  width: 90%;
  max-width: 300px;
height: auto;
min-height: 400px;
background-color: rgb(234, 230, 230);
margin: auto;
border-radius: 10px;
box-shadow: 0 8px 20px rgba(0,0,0,0.15);




}

.div-2{
  margin-top: 40px;
  direction: rtl;
}

.menu {
  margin-bottom: 20px;
}

.menu button {
  flex: 1;
  max-width: 50%;
  background: #eee;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 6px;
  
  transition: all 0.3s ease;
}

.menu button:hover {
  background: #878686;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu button.active {
  background: #878686;
  color: white;
}



